---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Check from '../components/Check.astro';

---

<Layout title="Pansis">
	<main>
		<Header/>
		<Nav/>
		<Check />
	</main>
	<Footer/>
</Layout>