---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Product from '../components/Product.astro';
---

<Layout title="Pansis">
	<main>
		<Header/>
		<Nav/>
        <Product/>
	</main>
	<Footer/>
</Layout>