<h2>Carrito</h2>
<table border="3">
    <thead>
        <tr>
            <th>Item</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Croissant
                <div><a href="/product1">
                    <img width="100" src="/home-croissant.jpg" alt="Croissant"></a><div>
            </th>
            <td>5</td>
            <td>8,75 €</td>
            <td>
                <button>
                    <img width="30" src="/eliminar.png" alt="Eliminar">
                </button>
            </td>
        </tr>
        <tr>
            <th>Cupcake
                <div><a href="/product1">
                    <img width="100" src="/home-cupcake.jpg" alt="Cupcake"></a><div>
            </th>
            <td>1</td>
            <td>3 €</td>
            <td>
                <button>
                    <img width="30" src="/eliminar.png" alt="Eliminar">
                </button>
            </td>
        </tr>
        <tr>
            <th>Pan casero
                <div><a href="/product1">
                    <img width="100" src="/home-pan.jpg" alt="Pan"></a><div>
            </th>
            <td>2</td>
            <td>4 €</td>
            <td>
                <button>
                    <img width="30" src="/eliminar.png" alt="Eliminar">
                </button>
            </td>
        </tr>    
        <tr>
            <td colspan="2">TOTAL</th>
            <td colspan="2">15,75 €</th>
        </tr>
    </tbody>

</table>
<button><a href="/check-out">Finalizar compra</a></button>