<nav>
        <p><a href="/">Inicio</a></p>
        <input type="text" placeholder="Busca aquí...">
        <button>
            <img width="20" src="/lupa.png" alt="Buscar">
        </button>
        <button><a href="/shopping-cart">
            <img width="70" src="/carrito-de-compras.png" alt="Carrito de compra">
        </a></button>
        <button><a href="/sign-up">
            <img width="70" src="/usuario.png" alt="Icono de usuario">
        </a></button>
</nav>