<img width="100" src="/home-pan.jpg" alt="Pan casero">
<img width="100" src="/pan1.jpg" alt="Pan">
<img width="100" src="/pan2.jpg" alt="Pan">
<h2>Pan casero</h2>
<p>Pan blanco de trigo. Contiene harina, agua, sal, levadura, azúcar y leche.</p>
<h1>2€</h1>
<input type="number" min="1" value="1">
<button>Añadir</button>
<button><a href="/check-out">Comprar</a></button>
